body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f26d;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
  }
  
  button {
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .red {
    background-color: #ff9999;
  }
  
  .green {
    background-color: #99ff99;
  }
  
  .blue {
    background-color: #9999ff;
  }
  